.box p{
    
    display: inline-block;
}

h1{
  color:red;  
}
#opa1 {
    
    margin-left: 50px;
}

#zemo {
    color:red;
    font-size: 250%;
     margin-left: 50px;
}
#demo {
    color:red;
   font-size: 250%; 
    
}